.App {
    font-family: "Roboto", sans-serif;
    text-align: center;
  }
  
  .photo-caption {
    font-family: "Roboto", sans-serif;
  }
  
  .caption-right {
    font-family: "Roboto", sans-serif;
  }
  
  .photo-subcaption {
    font-family: "Roboto", sans-serif;
  }
  